<br>


<!--ul>
    <h3><li><a href="http://localhost:9000/fetchAdvice">Send Advice to Patient</a></li></h3>
    <h3><li><a href="http://localhost:9000/reviewTemplates">Read/Edit</a></li></h3>
    <h3><li><a href="http://localhost:9000/advicesOut">History</a></li></h3>
</ul-->

<div style="height: 250px;">
    <div style="float: left; width: 30%; padding: 10px">
        <h3 style="text-align: center;"><a href="http://localhost:9000/fetchAdvice">Send Advice to Patient</a></h3>
        <img style="width: 100%; object-position: left; object-fit: cover; height: 200px;" src="@routes.Assets.versioned("/images/send.jpg")">

    </div>

    <div style="float: left; width: 30%; padding: 10px">
        <h3 style="text-align: center;"><a href="http://localhost:9000/reviewTemplates">Read/Edit</a></h3>
        <img style="width: 100%; object-position: left; object-fit: cover; height: 200px;" src="@routes.Assets.versioned("/images/edit.jpg")">
    </div>

    <div style="float: left; width: 30%; padding: 10px">
        <h3 style="text-align: center;"><a href="http://localhost:9000/advicesOut">History</a></h3>
        <img style="width: 100%; object-position: left; object-fit: cover; height: 200px;" src="@routes.Assets.versioned("/images/history.jpg")">
    </div>
</div>
