@(loginForm: Form[model.forms.LoginInput])

@import play.twirl.api.Html
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import helper._

<br>
<h1>LogIn</h1>

@helper.form(action = controllers.nhs.routes.EAdviceController.loginAction) {

    <strong>@helper.inputText(loginForm("name"), args = '_label -> "Login")</strong>
    <strong>@helper.inputPassword(loginForm("password"), args = '_label -> "Password")</strong>

    <button id="continue" type="submit">Login</button>
}

<div style="height: 250px;">
    <div style="float: left; width: 30%; padding: 10px">
        <h1 style="text-align: center;">Fast</h1>
        <img style="width: 100%; object-position: left; object-fit: cover; height: 200px;" src="http://res.freestockphotos.biz/pictures/17/17328-a-doctor-and-couple-talking-pv.jpg">
    </div>

    <div style="float: left; width: 30%; padding: 10px">
        <h1 style="text-align: center;">Flexible</h1>
        <img style="width: 100%; object-position: left; object-fit: cover; height: 200px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/Doctor_consults_with_patient_(3).jpg/640px-Doctor_consults_with_patient_(3).jpg">
    </div>

    <div style="float: left; width: 30%; padding: 10px">
        <h1 style="text-align: center;">Personalised</h1>
        <img style="width: 100%; object-position: left; object-fit: cover; height: 200px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Doctor_takes_blood_pressure.jpg/1024px-Doctor_takes_blood_pressure.jpg">
    </div>
</div>